<br />
<div class="booyah-box col-4 offset-4 text-center">
    <h2>Add Goals for This Week</h2>
    <%= simple_form_for @week do |f| %>
        <%= f.input :weekof %>
        <%= f.input :firstproject %>
        <%= f.input :secondproject %>
        <%= f.input :thirdproject %>
        <br />
        <%= f.submit "Enter This Week's Goals", class: 'btn btn-primary'%>
        <br />
    <% end %>
</div>  