<html>
    <br />
    <div class="booyah-box col-10 offset-1 text-center">
        <br />
        <h1 class="text-center"> Good Morning, 
        <br />
        Kalen!</h1>
        


        <div class="row feature text-center">
            <div class="col-12 col-sm">
                <h3>What's Up?</h3>
                <p><%= Season.last.firstfocus %></p>
                <p><%= Season.last.secondfocus %></p>
                <p><%= Season.last.thirdfocus %></p>
                <p><%= Season.last.fourthfocus %></p> 
                <p><%= Season.last.fifthfocus %></p> 
                <br />                
                <%= link_to 'What\'s Up Archive', seasons_path, class: 'btn btn-primary'%> 
            </div>
            <div class="col-12 col-sm">
                <h3>Weekly Goals</h3>            
                <p><%= Week.last.firstproject %></p>
                <p><%= Week.last.secondproject %></p>
                <p><%= Week.last.thirdproject %></p>
                <br />
                <%= link_to 'Weekly Goals Archive', weeks_path, class: 'btn btn-primary'%> 
            </div>
            <div class="col-12 col-sm">
                <h3>Daily Goals</h3>
                <p><%= Dailygoal.last.firstgoal %></p>
                <p><%= Dailygoal.last.secondgoal %></p>
                <p><%= Dailygoal.last.thirdgoal %></p>
                <br />
                <%= link_to 'Daily Goals Archive', dailygoals_path, class: 'btn btn-primary'%> 
            </div>
            <br />
            <br />
            <br />
            <br />
        </div>
    </div> 

    <br />
    <div class="booyah-box col-10 offset-1 text-center">
        <h2 class="text-center"> Here's your TED fix: </h2>
        <br />

        <div class="col-8 offset-2 text-center">
            <iframe width="738" height="415.5" src="https://www.youtube.com/embed/esD6aaIjhek" frameborder="0" allowfullscreen></iframe>
        <br />
        (<a href="https://www.ted.com/talks">Complete list of TED talks</a>)
        (<a href="https://www.ted.com/surpriseme">TED talks "Surprise me!"</a>)
            </div>
        <br />
        <h2 class="text-center"> (Enjoy the day and Make It Count!)</h2>
        </div>
</html>
